@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 769 até 992px
Desktop:de 992 até 1200px
Grandes Telas: acima de 1200px
*/
@media screen and (min-width: 769px) and (max-width: 992px) { /*CONFIGURAÇÃO PARA TABLET*/
    section#login {
         width: 90vw;
         height: 300px;
         
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 25%;
        background: #041e42 url(../imagens/Picture3.png) no-repeat;
        background-size: contain;
        
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%,-50%);
    }

    section#login > div#formulario {
        position: relative;
        display: block;
        float: right;
        width: 75%;
        
           
    }

    div#formulario > h1 {
        width: 10px;
        text-align: center;
        
    }


   
}

@media screen and (min-width: 992px)  {
    section#login {
         width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 25%;
        background: #041e42 url(../imagens/Picture3.png) no-repeat;
        background-size: contain;
        
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
    }

    section#login > div#formulario {
        position: relative;
        float: right;
        width: 65%;
        height: 40px;
        margin-top: 10%;
    }

    div#formulario > h1 {
        width: 10px;
        font-size: 2em;
        
       
        
    }

    div#formulario > p {
        font-size: 1.2em;
        text-align: center;
        margin: 20px 0px;
    
    }

   
}
